/* App.css */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.WeatherDisplay__Card {
  background-color: #b3a2a2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 10px;
  text-align: center;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WeatherDisplay__Icon {
  width: 100px;
  height: 100px;
}
.AdditionalInfo {
  margin-top: 30px;
}

.AdditionalInfo__Item {
  margin-bottom: 10px;
}

.AdditionalInfo__Label {
  font-weight: bold;
}

.AdditionalInfo__Value {
  margin-left: 10px;
}
