/* App container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

/* Weather display card */
.WeatherDisplay_Card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Temperature display */
.WeatherDisplay_Card h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

/* Weather icon */
.WeatherDisplay_Card img {
  width: 80px;
  height: 80px;
  margin: 20px 0;
}

/* Additional info section */
.AdditionalInfo {
  margin-top: 20px;
}

/* Additional info items */
.AdditionalInfo p {
  font-size: 16px;
  margin: 5px 0;
}

/* Loading text */
.WeatherDisplay_Card p {
  font-size: 16px;
  margin: 0;
}


input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-bottom : 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom : 10px;
}

h2 {
  text-align: center;
}